.sort-wrapper {
  position: absolute;
  top: 80px;
  right: 20px;
  z-index: 99;

  #demo-customized-button {
    font-size: 0.8rem;
    font-weight: bold;
  }
}

@media screen and (min-width: 768px) {
  .sort-wrapper {
    top: 100px;
  }
}

@media screen and (min-width: 1025px) {
  .sort-wrapper {
    position: relative;
    //   right: 200px;
    //   top: 200px;
    left: 80%;
    top: 50px;

    .labels {
      font-size: 2rem !important;
    }

    #demo-customized-button {
      font-size: 1.4rem;
      font-weight: bold;
    }
  }
}
