.search {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -10px;
  z-index: 100;
  top: 80px !important;

  .search-icon {
    position: relative;
    left: 50px;
    display: none;
  }

  .filter-input {
    padding: 5px;
    border-radius: 20px;
    font-size: 16px;
    text-align: center;
    width: 50%;
  }
}

@media screen and (min-width: 768px) {
  .search {
    top: 100px !important;
    left: 20px;
  }

  .search-icon {
    position: relative;
    left: 50px;
    display: flex !important;
  }

  .filter-input {
    width: 100% !important;
    padding: 5px !important;
    border-radius: 20px !important;
    font-size: 20px !important;
    text-align: center !important;
  }
}

@media screen and (min-width: 1025px) {
  .search {
    top: 200px !important;
  }
}
