.video-wrapper {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -15;
}

.home-button-wrapper {
  height: 100vh;
  width: 100vw !important;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  

}
