header {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: white;

  .nav-wrapper {
    display: flex;
    justify-content: center;

    img {
      width: 70px;
      position: absolute;
      margin-top: 5px;
      left: 0;
    }

    h1 {
      font-size: 20px;
    }
  }
}

@media screen and (min-width: 768px) {
  header {
    .nav-wrapper {
      img {
        width: 120px;
      }

      h1 {
        font-size: 28px;
      }
    }
  }
}

@media screen and (min-width: 1025px) {
  header {
    .nav-wrapper {
      img {
        top: 20px;
      }

      h1 {
        font-size: 3.5rem;
      }
    }
  }
}
